html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration: none;}
img{border:0;display:block;}
input{outline:none;}
body{
	background: #f9f9f9;
}
#big_box{
	/*text-align: center;*/
	width:855px;
	height:546px;
	margin:10px auto;
	background: url(../images/tt.jpg)no-repeat center 0px;
	background-color: #fff;
}
.header{
	width:47px;
	height:48px;
	margin:0 auto;
	
}
.check{
	width:336px;
	height:245px;
	margin:0 auto;
	margin-top:60px;
}
#big_box h2{
	font-size:27px;
	margin-top: 47px;
	margin-left:338px;
}
#big_box h3{
	font-size:12px;
	margin-bottom:10px;
}
#big_box h6{
	font-size:10px;
	color:red;
	display: none;
}
#big_box h3{
	font-size:10px;
	color:red;
	display: none;
}
.check_one{
width:334px;
height:42px;
}
.inp_first{
	width:290px;
	height:39px;
	float:left;
	border:1px solid #e8e8e8;
}

.btn_top{
	width:42px;
	height:41px;
	border:1px solid #e8e8e8;
	border-left:none;
	background:url(../images/dl1.jpg)no-repeat center;
	float:right;
}
#big_box h4{
	font-size: 12px;
	margin-top: 10px;
	color:#666666;
}
#big_box h5{
	font-size: 12px;
	margin-top: 20px;
	margin-bottom:10px;
}
.check_two{
width:332px;
height:42px;
}
.btn_center{
	width:72px;
	height:42px;
	float:left;
	border:1px solid #e8e8e8;
	background: #fff;
}
.inp_two{
width:258px;
height:39px;
float:right;
border:1px solid #e8e8e8;	
}
.btn_buttom{
width:334px;
height:42px;
background: #ff6700;
margin-top: 30px;
color:#fff;
border:none;
}
.artical{
	width:400px;
	height:20px;
	line-height:15px;
	background: url(../images/dl2.jpg) no-repeat;
	margin-left:231px;
	margin-top: 25px;
}
input::-webkit-input-placeholder {
color: #bababa; 
font-size:12px;
} 
.artical span{
	font-size:12px;
	color:#9d9d9d;
}
.artical b{
	font-size:13px;
	color:black;
}
.artical span:nth-of-type(1){
	margin-left:25px;
}
	#foot{
				width:100%;
				height:132px;
			}
			.foot_box{
				width:569px;
				height:79px;
				margin:0 auto;
				padding-top:53px;
			}
			.foot_box .foot_top{
				margin-left: 124px;
			}
			.foot_box .foot_top li{
				float:left;
				padding-left:12px;
				padding-right:12px;
				 background: url(../images/jt.jpg)no-repeat center right;
			}
			.foot_box .foot_top li:last-child{
				background: none;
			}
			.foot_box .foot_top li a{
				display: block;
				font-size:12px;
				color:#757575;
			}
			.foot_box .foot_bottom li{
				float:left;
				margin-top:11px;
			}
			.foot_box .foot_bottom li:first-child{
				margin-left:30px;
			}
			.foot_box .foot_bottom li a{
				font-size:12px;
				color:#757575;
			}